name: Deploy scripts to preprod

on:
  pull_request_target:
    branches:
      - main, development

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SNOWFLAKE_CONNECTIONS_DEFAULT_ACCOUNT: ${{secrets.SNOWFLAKE_ACCOUNT}}
      SNOWFLAKE_CONNECTIONS_DEFAULT_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_CONNECTIONS_DEFAULT_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Snowflake Credentials
        run: |
          mkdir -p .snowflake
          cat <<EOF > .snowflake/config.toml
          default_connection_name = "xpb58818"
          [connections]
          [connections.xpb58818]
          account = "${{ secrets.SNOWFLAKE_ACCOUNT }}"
          user = "${{ secrets.SNOWFLAKE_USER }}"
          password = "${{ secrets.SNOWFLAKE_PASSWORD }}"
          database = "PEDIDOS"
          schema = "PUBLIC"
          warehouse = "COMPUTE_WH"


      - name: Verify Snowflake config file
        run: ls -la .snowflake && cat .snowflake/config.toml

      - name: Install snowflake-cli
        uses: Snowflake-Labs/snowflake-cli-action@v1.5
        with:
          cli-version: "latest" 
          default-config-file-path: ".snowflake/config.toml"
      
      - name: Check Version and Verify Connection
        run: |
              snow --version
              snow connection test
              echo "Using branch $GITHUB_REF_NAME"
      
      - name: Fetch repository changes
        run: snow git fetch lamosa_demo
      
      - name: Deploy scripts to prod environment
        run: snow git execute "@lamosa_demo/branches/main/scripts/raw/tablas/ejemplodepaula.sql" 

     